@import "./assets/scss/variables.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";
.msg {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
    font-family: $fontface-light;
    border-radius: 2px;
    &.error-msg {
        background-color: $error-msg;
    }
    &.success-msg {
        background-color: $success-msg;
    }
    &.info-msg {
        background-color: $info-msg;
    }
}

html{
    background-color: white;
}

p.help-text {
    font-size: 12px;
    padding-top: 10px;
}

#myTable{
    th{
        &:after{
            content: none
        }
    }
}
.drawer-menu.mat-icon-button {
    position: fixed;
    top: 12px;
    left: 10px;
    z-index: 3;
    color: #fff;
}

mat-drawer-container.mat-drawer-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-top: 64px;
    background-color: transparent;
    .mat-drawer {
        margin-top: 64px;
        min-width: 240px;
    }
    .mat-drawer-content {
        overflow-y: scroll;
    }
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 15px;
    }
}

@media (max-width: 600px) {
    .drawer-menu.mat-icon-button {
        top: 8px;
    }
    mat-drawer-container.mat-drawer-container {
        .mat-drawer {
            margin-top: 56px;
        }
    }
}

.mat-menu-content {
    .mat-menu-item {
        font-size: 13px;
        height: 40px;
        line-height: 40px;
    }
}

.header-menu {
    box-shadow: none!important;
}

.header-menu-content {
    position: relative;
    min-width: 250px;
    padding: 5px 15px;
    .head {
        position: relative;
        margin-bottom: 20px;
        text-align: right;
        padding-left: 50px;
        .icon {
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #06A04B;
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-size: 14px;
        }
        h4 {
            font-family: $fontface-medium;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            padding-top: 4px;
        }
        h5 {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
        }
    }
    .action {
        text-align: right;
    }
}

.data-card.mat-card {
    padding: 0;
    margin: 8px;
    .mat-card-header {
        padding: 20px 15px;
        font-family: $fontface-medium;
        font-size: 14px;
        line-height: 16px;
        color: #333;
        .mat-card-header-text {
            display: none;
        }
        &.with-icon {
            padding-left: 40px;
        }
        .handle-drag {
            position: absolute;
            left: 8px;
            top: 15px;
            width: 28px;
            height: 28px;
            cursor: move;
            .handle {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                text-indent: -99999px;
            }
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 24px;
                height: 24px;
                margin: -12px 0 0 -12px;
            }
        }
        .number-icon {
            margin-left: 5px;
            display: inline-block;
            background-color: #ff0000;
            padding: 0 4px;
            min-width: 16px;
            border-radius: 8px;
            color: #fff;
            font-size: 11px;
            text-align: center;
        }
        .header-btn {
            position: absolute;
            right: 15px;
            top: 13px;
            .mat-raised-button {
                font-size: 11px;
                font-family: $fontface-light;
                line-height: 24px;
                padding: 0 8px;
                min-width: 40px;
                margin: 2px 1px;
            }
        }
        .header-icon-btn {
            position: absolute;
            right: 10px;
            top: 8px;
            // .mat-icon-button{
            // }
        }
    }
    .mat-card-content {
        padding: 0 15px 5px 15px;
    }
}

.data-table {
    min-width: 100%;
    thead {
        font-family: $fontface-medium;
        font-size: 11px;
        z-index: 1;
        tr {
            background: rgba(0, 0, 0, 0.1);
            //background: #fcfcde;
            // border-top: 2px solid rgba(0,0,0,0.06);
            // border-bottom:2px solid rgba(0,0,0,0.06);
            th {
                vertical-align: top;
            }
        }
    }
    tbody {
        font-family: $fontface-regular;
        font-size: 11px;
        tr {
            // background-color: rgba(0,0,0,0.02);
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            td {
                vertical-align: middle;
                .btn {
                    padding: 0px;
                    min-width: inherit;
                    line-height: 18px;
                    font-family: $fontface-medium;
                    font-size: 11px;
                }
                &.action {
                    .mat-raised-button {
                        font-size: 11px;
                        font-family: $fontface-light;
                        line-height: 24px;
                        padding: 0 8px;
                        min-width: 40px;
                        margin: 2px 1px;
                    }
                }
            }
        }
        tr:nth-child(2n+1) {
            background-color: #fff;
        }
        tr:last-child {
            border-bottom: 0px;
        }
    }
    th,
    td {
        padding: 6px 8px;
        line-height: 16px;
        word-break: break-word;
        &.align-left {
            text-align: left;
            .mat-sort-header-button {
                text-align: left;
            }
        }
        &.align-right {
            text-align: right;
            .mat-sort-header-button {
                text-align: right;
            }
        }
        &.align-center {
            text-align: center;
            .mat-sort-header-button {
                text-align: center;
            }
        }
    }
    &.fixed {
        margin: 0 -15px 0 -15px;
        tr {
            th,
            td {
                &:first-child {
                    padding-left: 16px;
                }
            }
        }
        tbody {
            display: block;
            min-height: 100px;
            max-height: 250px;
            overflow: auto;
        }
        thead,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        // thead {
        //     width: calc( 100% - 15px )
        // }
    }
}

.table-content {
    width: 100%;
    th,
    td {
        padding: 8px 0;
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        border-bottom: 1px solid #eee;
    }
    tr:last-child {
        th,
        td {
            border-bottom: 0px;
        }
    }
    th {
        border-right: 1px solid #eee;
        padding-right: 8px;
        font-family: $fontface-light;
    }
    td {
        padding-left: 8px;
    }
}

.order-state-ber {
    color: red;
}

.mat-dialog-container {
    padding: 0!important;
}

.dialog {
    position: relative;
    .mat-dialog-title,
    .mat-dialog-content,
    .mat-dialog-actions {
        margin: 0px;
    }
    .mat-dialog-title {
        padding: 15px;
        // font-family: $fontface-medium;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .mat-dialog-content {
        padding: 15px;
        font-size: 13px;
        // .mat-form-field-label-wrapper{
        //     font-size: 13px;
        // }
    }
    .tab-group {
        .mat-tab-label {
            height: 38px;
            line-height: 38px;
            font-size: 13px;
            padding: 0 30px;
            font-family: $fontface-medium;
            border-right: 1px solid #eee;
            &.mat-tab-label-active {
                opacity: 1;
            }
        }
        // .mat-tab-body-content{
        // }
    }
    .mat-dialog-actions {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        text-align: center;
        display: block;
        .mat-raised-button {
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            font-family: $fontface-medium;
            font-size: 12px;
        }
    }
}

.small.mat-checkbox {
    font-size: 12px;
    .mat-checkbox-inner-container,
    .mat-checkbox-ripple {
        transform: scale(0.6);
    }
    .mat-checkbox-inner-container {
        margin-right: 2px;
    }
    .mat-checkbox-ripple {
        width: 40px;
        height: 40px;
        left: calc(50% - 15px);
        top: calc(50% - 15px);
    }
}

.packery-drop-placeholder {
    outline: 2px dashed rgba(0, 0, 0, 0.1);
    outline-offset: -6px;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.red {
    color: #ff0000!important;
}

.mat-datepicker-content-touch {
    margin: 0px!important;
    .mat-calendar {
        width: 300px!important;
        height: auto!important;
    }
}

.loading-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
}

.loading {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
}

.mat-raised-button {
    font-size: 11px;
    font-family: $fontface-light;
    line-height: 24px;
    padding: 0 8px;
    min-width: 40px;
    margin: 2px 1px;
}

.report-header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    .download-btn {
        position: relative;
        border: 1px solid green;
        width: 30px;
        height: 30px;
        right: 20px;
        .mat-button-wrapper {
            .fa-download {
                margin-bottom: 15px;
            }
        }
    }
}

.dialog {
    #myTable_filter {
        margin-bottom: 10px;
    }
    .dialog-title {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        font-weight: bold;
        padding: 10px 20px;
    }
    .mat-raised-button {
        font-size: 11px;
        font-family: "robotolight";
        line-height: 24px;
        padding: 0 8px;
        min-width: 40px;
        margin: 2px 1px;
    }
    #myTable {
        font-size: 12px;
        tr:nth-child(even) {
            background-color: #f1eaea;
            ;
        }
        thead {
            background-color: darkgray;
            color: white;
        }
    }

}

.handle-drag-report{
    position: absolute;
    left: 8px;
    top: 15px;
    width: 28px;
    height: 28px;

    .handle{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-indent: -99999px;
    }
    i{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 24px;
        height: 24px;
        margin: -12px 0 0 -12px;
    }
}


.mat-dialog-container{
    overflow: inherit !important;
}