<mat-card class="data-card" [style.display]="show ? 'block': 'none'">
    <mat-card-header class="with-icon">
        <div class="handle-drag">
            <div class="handle">Drag</div>
            <i class="material-icons">apps</i>
        </div>
        Pending For Dispatch
        <span class="number-icon" *ngIf="!isToggle">{{deviceResponse?.length}}</span>
        <div class="header-icon-btn">
            <button mat-icon-button (click)="toggle()">
        <i class="material-icons">{{isToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
      </button>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="isToggle" [@isToggle]="isToggle">
        <table class="data-table fixed">
            <thead>
                <tr>
                    <th class="align-left">Brand Name
                        <br>IMEI No.</th>
                    <th class="align-left">Repair Order Completion Date/Time</th>
                    <th class="align-left">Status</th>
                    <th style="text-align:center !important;padding-right: 68px !important;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of deviceResponse">
                    <td class="align-left">
                        <span *ngIf="item.logisticsPartner=='captive'" style="margin-right: 2px;">
                                    <i class="fa fa-motorcycle" aria-hidden="true"></i>
                                </span>
                        <span *ngIf="item.logisticsPartner=='logicloud' || item.logisticsPartner=='logicloud_ams'" style="margin-right: 2px;">
                                    <i class="fa fa-truck" aria-hidden="true"></i>
                                </span> {{item?.brand}}
                        <br>
                        <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                    </td>
                    <td class="align-left">{{item?.lastUpdatedTime | dateFormatWt}}
                    </td>
                    <td class="align-left" [ngClass]="{'order-state-ber':item?.orderState=='Rejected to AMS'}">
                        {{item?.orderState=='Rejected to AMS'? 'BER':item?.orderState}}
                    </td>
                    <td class="align-left action">
                        <button mat-raised-button color="accent" (click)="dispatch(item.orderId,item.logisticsPartner,item.lastUpdatedTime,item.orderState,item.awbNo,item.courierName)">Dispatch</button>
                        <button mat-raised-button title="Shipment Label" color="accent" (click)="print(item.orderId)"><i class="material-icons">print</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>