#tableView tr {
    padding: 10px !important;
    font-weight: 400 !important;
    font-size: 11px !important;
}

thead.header-bg {
    font-family: "robotomedium";
    font-size: 11px !important;
    color: rgba(0, 0, 0, 0.87) !important;
    background: #e5e5e5 !important;
}

.headerStyle tr {
    font-size: 10px !important;
    padding: 0px !important;
}

#myTable th {
    font-size: 10px;
    padding: 15px !important;
    font-size: 11px !important;
    font-weight: 400 !important;
}

#myTable td {
    font-size: 10px !important;
    font-size: 11px !important;
    font-weight: 400 !important;
}