.filter{
    margin-right: 100px;
}
.filter mat-form-field{
    margin-right: 10px;
}
.data-not-found{
    text-align: center;
    font-weight: bold;
}
.iconSize{
    font-size: 16px;
    color: grey;
    vertical-align: bottom;
    cursor: pointer;
}
// .filter-data{
//     display: none;
// }