/*******************************************************************************
                              Variables for fonts
********************************************************************************/
$fontface-regular		    :"robotoregular";				//Roboto regular font
$fontface-medium		    :"robotomedium";			    //Roboto medium font
$fontface-light			    :"robotolight";					//Roboto light font
$fontface-bold			    :"robotobold";					//Roboto bold font

/*******************************************************************************
                            Variables for background
********************************************************************************/
$body-bg                   :#f2f2f2;                     //body bacnkground color (gray)
$light-blue                :#1E88E5;
$dark-blue                 :#054998;

/*******************************************************************************
                            Variables for message colors
********************************************************************************/
$error-msg                 :#FF4E44;
$success-msg               :#01DD60;
$info-msg                  :#FFC33D;

@mixin md-icon-size($size: 24px) {
    font-size: $size;
  }