<div class="dialog">
    <div mat-dialog-title class="dialog-title">
        <h1 style="width: 90%; float: left;">Approval</h1>
        <button mat-icon-button (click)="downloadData()" color="accent" class="align-right download-btn" style="position: relative;" title="Export">
          <i class="fas fa-download"></i>
        </button>
    </div>


    <div mat-dialog-content>
        <table id="myTable" datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isTableData">
            <thead>
                <tr>
                    <th class="align-left">Claim Id<br>Claim Date</th>
                    <th class="align-left">Repair Order No<br>Repair Order Date</th>
                    <th class="align-center">ARC Name</th>
                    <th class="align-center">Device Name<br>IMEI No.</th>
                    <th class="align-center">Estimation Date Time</th>
                    <th class="align-center">Existing Value</th>
                    <th class="align-center">Current Market Value</th>
                    <th class="align-center">Available Liablility Limit</th>
                    <th class="align-center">Online Price</th>
                    <th class="align-center">Post Repair Order</th>
                    <th class="align-left">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of deviceResponse">
                    <td class="align-left">{{item.claimNo}}<br><br> {{item.claimDate }}
                    </td>
                    <td class="align-left">{{item.orderId}}<br> <br>{{item.orderedDate}}
                    </td>
                    <td class="css-ellipsis">{{item.arcName}}</td>
                    <td class="align-left">{{item.brand}}<br>
                        <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item.imeiNo}}</button>
                    </td>
                    <td class="align-left">{{item.estimateDateTime }}</td>
                    <td class="align-left">{{item.existingValue}}
                    </td>
                    <td class="align-left"> {{item.currentmarketValue}}
                    </td>
                    <td class="align-left">{{item.availableLiablityLimit}}
                    </td>
                    <td class="align-left">{{item.totalAmt}}
                    </td>
                    <td class="align-left">{{item.postRepairOrder}}</td>
                    <td class="align-left action" style="padding: 6px 0px;">
                        <button mat-raised-button color="accent" (click)="getAmountDetails(item.orderEstimateId,item.orderId)">Accept / Reject</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>

</div>